/*
 * Google Fonts
 * ------------------------------------
 */
/* ***** BODY ***** */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300&display=swap");

/* ***** DOGSITTER & DOGOWNER NAME ***** */
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

h1 {
	font-family: "Courgette", cursive;
}

/*
 * Reset
 * ------------------------------------
 */
* {
	box-sizing: border-box;
}
body {
	background-color: #ffffff;
	color: #3f2500;
	font-family: "Ubuntu", sans-serif;
	font-size: 16px;
}
@media screen and (max-width: 767px) {
	body {
		font-size: 14px;
	}
}

/*
 * Button Custom
 * ------------------------------------
 */
/* Service Button */
.btn {
	transition-duration: 0.3s;
}
.btn:hover {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.btn-outline-warning {
	border-color: #f28e00;
	color: #f28e00;
}
.btn:hover.btn-outline-warning {
	background-color: #f28e00;
	border-color: #f28e00;
	color: #fff;
}
.btn-check:checked + .btn.btn-outline-warning {
	background-color: #f28e00;
	border-color: #f28e00;
	color: #fff;
}
/* CAP Input */
.form-control:focus {
	border-color: #fbbb37;
	box-shadow: 0 0 0 0.25rem rgba(251, 187, 55, 0.25);
}
/* Search Button */
.btn-warning {
	background-color: rgba(242, 142, 0, 1);
	border-color: #f28e00;
	color: #fff;
}
.btn:hover.btn-warning {
	background-color: rgba(242, 142, 0, 0.85);
	border-color: rgba(242, 142, 0, 0.85);
	color: #fff;
}
.button-send {
	display: flex;
	align-items: center;
}

/*
 * Helpers
 * ------------------------------------
 */
.cursor-pointer {
	cursor: pointer;
}
.mblock-4 {
	margin-block: 80px;
}

/*
 * Header
 * ------------------------------------
 */
.my-navbar {
	background-color: #fff;
	color: #404347;
	background-color: #f28e00;
	color: #fff;
	font-weight: 300;
	position: sticky;
	top: 0;
	z-index: 10;
}
.my-navbar a {
	color: #404347;
	color: #fff;
}
.my-navbar .container > a:first-of-type {
	font-weight: 500;
}

/*
 * Home
 * ------------------------------------
 */
.hero {
	width: 100%;
	min-height: 100vh;
	background-image: url("https://images.pexels.com/photos/9040443/pexels-photo-9040443.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
}
.hero::after {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.35) 100%);
}
.hero__text {
	z-index: 100;
}

/*
 * Register & Login
 * ------------------------------------
 */
.form-signin > div,
.form-signup > div {
	min-height: 70vh;
	text-align: center;
}
.form-signin form,
.form-signup form {
	border-radius: 0.375rem;
}
.form-signin form input[id="email"],
.form-signup form input[id="name"] {
	border-bottom-left-radius: unset;
	border-bottom-right-radius: unset;
}
.form-signup form input[id="surname"],
.form-signup form input[id="email"] {
	border-radius: unset;
}
.form-signin form input[id="password"],
.form-signup form input[id="password"] {
	border-top-left-radius: unset;
	border-top-right-radius: unset;
}
.form-signin button,
.form-signup button {
	min-height: 50px;
}

/*
 * MyProfile (Dogowner)
 * ------------------------------------
 */
.my-profile .my-profile__wrapper-image {
	position: relative;
	border-radius: 50%;
	overflow: hidden;
}
.my-profile .my-profile__image {
	max-width: 225px;
	aspect-ratio: 1/1;
	object-fit: cover;
	width: 100%;
}
.my-profile .my-profile__wrapper-image .card__icon-remove {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #f28e00;
}
.my-profile .my-profile__wrapper-image .card__icon-remove > div {
	margin: 0.4rem;
}
.my-profile .my-profile__wrapper-image .card__icon-remove svg {
	fill: #fff;
	width: 20px;
	height: auto;
	cursor: pointer;
}
.my-profile .my-profile__add-image {
	background-color: #efefef;
	border-radius: 50%;
	max-width: 225px;
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	cursor: pointer;
}
.my-profile .my-profile__add-image svg {
	width: 50%;
	height: 50%;
}

/* ***** Address ***** */
.address .card {
	padding: 1rem 2rem;
	font-size: 1.25rem;
	font-weight: 300;
	border: unset;
	position: relative;
}
.address .card form {
	margin: 20px;
}
.address .card__icon-remove {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 100%;
}
.address .card__icon-remove > div {
	height: 100%;
	display: flex;
	align-items: end;
}
.address .card__icon-remove svg {
	margin: 1rem;
	width: 20px;
	height: auto;
	cursor: pointer;
}

/* ***** Dog-Card ***** */
.dog .card {
	border: unset;
}
.dog .card__first-dog {
	padding: 1rem 2rem;
	font-size: 1.25rem;
	font-weight: 300;
}
.dog .card form {
	margin: 20px;
}

.dog .card .icon-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-block: auto;
}
.dog .card.card-add {
	height: 100%;
	justify-content: center;
}
.dog .card .icon-wrapper svg {
	width: 30px;
	height: auto;
}
.dog .card .card-body {
	flex: unset;
}
.dog .card > div {
	position: relative;
}
.dog .card__icon-remove {
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.2);
	width: 100%;
	display: flex;
	justify-content: end;
}
/* .dog .card__icon-remove > div {
	cursor: pointer;
} */
.dog .card-footer {
	background-color: #f28e00;
}
.dog .card-footer svg,
.dog .card__icon-remove svg {
	display: block;
	margin: 0.5rem;
	fill: #fff;
	cursor: pointer;
}
.dog .card-footer svg {
	/* fill: #3f2500; */
	width: 20px;
	height: 20px;
}
.dog .card-footer span {
	font-size: 1rem;
}

/*
 * DogSitters
 * ------------------------------------
 */
.dogsitters .dogsitters-list .card {
	scale: 1;
	transition: all 0.3s linear;
}
.dogsitters .dogsitters-list .card:hover {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35) !important;
	scale: 1.1;
}
.bg-warning {
	background-color: #f28e00 !important;
}
.dogsitters .dogsitters-list .card img {
	border-radius: 50%;
	height: 70px;
}
@media screen and (max-width: 767px) {
	.dogsitters .dogsitters-list .card img {
		height: 50px;
	}
}
.dogsitters .dogsitters-list .card .card-body {
	align-items: center;
}
.dogsitters .dogsitter-selected {
	position: sticky;
	top: 80px;
}
.dogsitters .dogsitter-selected .favoriteIcon {
	position: absolute;
	top: 0;
	right: 30px;
	padding: 0.5rem;
}
.dogsitters .dogsitter-selected .favoriteIcon.show {
	background-color: #f28e00;
	border-radius: 50%;
}
.dogsitters .dogsitter-selected .favoriteIcon svg,
.dogsitters .dogsitter-selected .favoriteIcon img {
	width: 30px;
	height: 30px;
}
.dogsitters .dogsitter-selected .service .card {
	font-size: 1.25rem;
	font-weight: 300;
}
.dogsitters .dogsitter-selected .service .card-title {
	padding-inline: 1rem;
}
.dogsitters .dogsitter-selected .service div:last-of-type p {
	margin-bottom: 0;
}
.dogsitters .dogsitter-selected .service-row {
	padding: 0.5rem 1rem;
	border-radius: 0.375rem;
}
.dogsitters .dogsitter-selected .service-row .serviceIcon {
	height: 22px;
	width: auto;
	margin-right: 0.5rem;
	filter: invert(15%) sepia(12%) saturate(6954%) hue-rotate(17deg) brightness(99%) contrast(102%);
}
.dogsitters .dogsitter-selected .selected {
	background-color: rgba(251, 187, 55, 0.5);
	font-weight: 400;
}

/* ***** Pagination ***** */
.pagination .page-link:hover {
	background-color: rgba(242, 142, 0, 0.2);
}
.pagination .active > .page-link {
	background-color: #f28e00;
	border-color: #f28e00;
	color: #fff;
}
.pagination .page-link {
	color: #f28e00;
	border-color: #f28e00;
}

/* ***** Calendar ***** */
.react-calendar {
	width: auto;
	max-width: 100%;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.125em;
	padding: 1rem 2rem;
	border-radius: 0.375rem;
}
.react-calendar__tile--now {
	background-color: #ddd;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus,
.react-calendar__tile--active {
	background-color: #404347;
}
